#以下是需要装的扩展

go get "github.com/go-sql-driver/mysql"
go get "github.com/garyburd/redigo/redis"
go get "github.com/json-iterator/go"
go get "github.com/aliyun/aliyun-oss-go-sdk"
go get "github.com/streadway/amqp"